.base7,
.rectangle-div {
  position: absolute;
  top: 7px;
  left: 0;
  background-color: var(--color-forestgreen);
  width: 390px;
  height: 87px;
}
.rectangle-div {
  top: 0;
  border-radius: var(--br-mini);
  background-color: var(--green-primary);
  width: 78px;
  height: 78px;
}
.home-1-icon3 {
  position: absolute;
  top: 13.5px;
  left: 14.7px;
  width: 49.6px;
  height: 51px;
  object-fit: cover;
}
.home-button3 {
  top: 0;
  left: 158px;
  width: 78px;
  height: 78px;
}
.b3,
.base6,
.home-button3 {
  position: absolute;
}
.b3 {
  top: 13px;
  left: 322px;
  display: inline-block;
  width: 64px;
  height: 60px;
}
.base6 {
  top: 750px;
  left: 0;
  width: 390px;
  height: 94px;
  font-size: var(--font-size-46xl);
  color: var(--color-white);
}
.supermarket-title-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-forestgreen);
  width: 389px;
  height: 107px;
}
.s-u-p1 {
  position: absolute;
  top: 41px;
  left: 41px;
  display: inline-block;
  width: 314px;
  height: 62px;
}
.supermarket-title1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 389px;
  height: 107px;
  font-size: var(--font-size-14xl);
  color: var(--color-white);
  font-family: var(--font-ruda);
}
.promotion-icon1 {
  position: absolute;
  top: 159px;
  left: 0;
  width: 389px;
  height: 194px;
  object-fit: cover;
}
.search-button-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 378px;
  height: 36px;
}
.icon1,
.search1 {
  position: absolute;
}
.search1 {
  top: 11px;
  left: 23px;
  display: inline-block;
  width: 52px;
  height: 12px;
}
.icon1 {
  top: 13px;
  left: 10px;
  width: 14px;
  height: 13px;
  object-fit: cover;
}
.search-button1 {
  position: absolute;
  top: 114px;
  left: 6px;
  width: 378px;
  height: 36px;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray-100);
  font-family: var(--font-do-hyeon);
}
.item-6-item {
  position: absolute;
  top: 35px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100px;
  height: 100px;
}
.item-63 {
  position: absolute;
  top: 0;
  left: 1px;
  display: inline-block;
  width: 99px;
  height: 12px;
}
.item-53,
.item-62 {
  position: absolute;
  top: 581px;
  left: 268px;
  width: 100px;
  height: 135px;
}
.item-53 {
  top: 0;
  left: 14px;
  display: inline-block;
  width: 75px;
  height: 12px;
}
.item-43,
.item-52 {
  position: absolute;
  top: 581px;
  left: 144px;
  width: 100px;
  height: 135px;
}
.item-43 {
  top: 0;
  left: 24px;
  display: inline-block;
  width: 53px;
  height: 12px;
}
.item-42,
.xl1-20231002-1-icon1 {
  position: absolute;
  top: 581px;
  left: 20px;
  width: 100px;
  height: 135px;
}
.xl1-20231002-1-icon1 {
  top: 25px;
  left: 0;
  height: 100px;
  object-fit: cover;
}
.dairy4 {
  position: absolute;
  top: 430px;
  left: 20px;
  width: 100px;
  height: 125px;
}
.xl1-20210111-1-icon1 {
  position: absolute;
  top: 26px;
  left: 0;
  width: 99px;
  height: 99px;
  object-fit: cover;
}
.frozen2,
.xl1-20220411-1-icon1 {
  position: absolute;
  top: 430px;
  left: 144px;
  width: 99px;
  height: 125px;
}
.xl1-20220411-1-icon1 {
  top: 26px;
  left: 0;
  height: 100px;
  object-fit: cover;
}
.cleaning2 {
  position: absolute;
  top: 430px;
  left: 268px;
  width: 100px;
  height: 126px;
}
.categories-title-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-forestgreen);
  width: 357px;
  height: 57px;
}
.categories1 {
  position: absolute;
  top: 8px;
  left: 28px;
  display: inline-block;
  width: 314px;
  height: 42px;
}
.categories-title1 {
  position: absolute;
  top: 365px;
  left: 16px;
  width: 357px;
  height: 57px;
  font-size: var(--font-size-14xl);
  color: var(--color-white);
  font-family: var(--font-ruda);
}
.homepage-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-200);
  width: 389px;
  height: 844px;
}
.group-child,
.homepage1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.homepage1 {
  width: 390px;
  height: 844px;
  overflow: hidden;
}
.group-child {
  border-radius: var(--br-mini);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 195px;
  height: 79px;
}
.if-unsure-how {
  position: absolute;
  top: 12px;
  left: 13px;
  display: inline-block;
  width: 164px;
  height: 55px;
}
.group-item {
  position: absolute;
  top: 71px;
  left: 184px;
  width: 25px;
  height: 24px;
  object-fit: contain;
}
.rectangle-parent {
  position: absolute;
  top: 655px;
  left: 97px;
  width: 209px;
  height: 95px;
  text-align: left;
  font-size: var(--font-size-mini);
}
.new-user-page-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 844px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--black);
  font-family: var(--font-droid-sans);
}
